@import url(https://fonts.googleapis.com/css?family=Exo+2:300,400,700);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card{
    font-family: "Exo 2", sans-serif;
    color: #333;
    position: relative;
    width: 250px;
    background:#fff;
    border-radius: 10px;
    margin:10px ;
    height: 100%;
    box-shadow: 0 0 100px rgba(0,0,0, .3);
}

.header{
    position: relative;
    width: 250px;
}

.card-img{
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.user-img{
    width:  50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    bottom : -25px;
    left:100px;
    z-index: 2;
}   

.content{
    padding:30px 10px 10px 10px;
    background-color: #fff;
}
.content span{
    display: block;
    text-align: center;
}
.author, .date{
    font-size: 13px;

  color: #95989A;
}
.title{
    font-size: 20px;
}
.footer{
    padding: 8px 0px;
    display: inline;
  }
  .stat{
    box-sizing: border-box;
    width: calc(100% / 3);
    display: inline-block;
    text-align: center;
    border-left: 1px solid #EBEBEB;
    padding: 10px;
  }
  
  .stat .value{
    display: block;
    font-weight: 700;
    font-size:20px;
  }
  